# FastAPI basic dependencies
fastapi
uvicorn

# templating engine
jinja2

# form rendering and validation
wtforms>3

# support for forms in FastAPI
python-multipart

# database
alembic
sqlmodel
asyncpg

# session middleware
itsdangerous

# generating jupyter notebooks
nbformat
nbconvert

# https://fastapi.tiangolo.com/pt/tutorial/security/oauth2-jwt/#__tabbed_1_1 
passlib
passlib[bcrypt]
python-jose
python-jose[cryptography]
