# FastAPI basic dependencies
fastapi
uvicorn

# support for forms in FastAPI
python-multipart

# database
alembic
sqlmodel
asyncpg

# session middleware
itsdangerous

# https://fastapi.tiangolo.com/pt/tutorial/security/oauth2-jwt/#__tabbed_1_1 
passlib[bcrypt]
python-jose[cryptography]

pydantic

# processamento da planilha de previsão
pandas
openpyxl